version: '3.8'

services:
  app:
    container_name: admin-dashboard-prod
    build:
      context: .
      dockerfile: Dockerfile.prod
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:/app/data/dev.db
      # Update specific public URL for production
      - NEXT_PUBLIC_API_URL=http://localhost:3000
    volumes:
      - ./data:/app/data
    ports:
      - "3000:3000"
    restart: always
